{% set map = salt['grains.filter_by']({
    'Arch': {
        'cert_dir': '/etc/ssl/certs',
        'key_dir': '/etc/ssl/private',
        'pkgs': [ 'ca-certificates', 
                  'ca-certificates-mozilla',
                  'ca-certificates-utils',],
        'cert_user': 'root',
        'key_user': 'root',
        'cert_group': 'root',
        'key_group': 'root',
        'cert_mode': 644,
        'key_mode': 600,
    },
    'Debian': {
        'cert_dir': '/etc/ssl/certs',
        'key_dir': '/etc/ssl/private',
        'pkgs': [ 'ca-certificates', 'ssl-cert' ],
        'cert_user': 'root',
        'key_user': 'root',
        'cert_group': 'root',
        'key_group': 'ssl-cert',
        'cert_mode': 644,
        'key_mode': 640,
    },
    'Ubuntu': {
        'cert_dir': '/etc/ssl/certs',
        'key_dir': '/etc/ssl/private',
        'pkgs': [ 'ca-certificates', 'ssl-cert' ],
        'cert_user': 'root',
        'key_user': 'root',
        'cert_group': 'root',
        'key_group': 'ssl-cert',
        'cert_mode': 644,
        'key_mode': 640,
    },
    'RedHat': {
        'cert_dir': '/etc/pki/tls/certs',
        'key_dir': '/etc/pki/tls/private',
        'pkgs': [ 'ca-certificates' ],
        'cert_user': 'root',
        'key_user': 'root',
        'cert_group': 'root',
        'key_group': 'ssl-cert',
        'cert_mode': 644,
        'key_mode': 640,

}, grain='os', merge=salt['pillar.get']('cert:lookup')) %}
